@{
    ViewData["Title"] = "Home Page";
}

<body class = "background">
<div class="text-center">
    <h1 class="display-4">WebSchool</h1>
    <p>Web application for course enrollment</p>
</div>
</body>
